*{
  box-sizing: border-box;
  ;
}

.container:after{

  clear: both;
  display: table;
  content: "";

  }

.colonna1{

  float: left;
  width: 33.33%;
  height: 500px;

  background-color: #f7f7f7;

}
#fotocv{
background-image: url("drum.jpg");
height: 200px;
width: 200px;
background-size:cover;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
}

h1{

  font-size: 30px;
  text-align: center;
  color: red;
}

h2{

  font-size: 20px;
  text-align: center;

}

button{

  background-color: red;
  color: white;


}

.colonna2{

  float: right;
  margin-right: 10px;
  width: 60%;
  height: 500px;
  border: 1px solid black;
  background-color: #f7f7f7;


}


#social{



}
